<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    <header>
      <nav>
        <ul>
          {% for item in site.navigation %}
            <li><a href="{{ item.link }}">{{ item.name }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </header>

    <main class="content">
      <div class="neon-border">
        {{ content }}
      </div>
    </main>


    <footer>
      <p>&copy; {{ site.time | date: "%Y" }} {{ site.author.name }}</p>
    </footer>
  </body>
</html>
